

.body{
    background-color: antiquewhite;
}
.meal-meter-logo{
    font-family:Georgia, 'Times New Roman', Times, serif
}
.nav{
    background-color: bisque;
}
.meal-meter-logo{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
